<p>Hola <%= @resource.email %>!</p>

<p>alguien a solicitado restablecer la contraseña, lo podras hacer en el siguiente link</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>si no solicito este cambio , por favor ignore este email.</p>

